<section id="section-about" class="clearfix about">

    <div class="heading center">
        <h2 class="heading__main">Meet the Doctors</h2>
        <h3 class="heading__byline">of Tate Family Dentistry</h3>
    </div>

    <div class="container">
        <div class="about__content">
            <img src="assets/staff/DrHaley_Tate.jpg" alt="Doctor Tate" class="about__image-wrapper">
            <div class="about__copy-wrapper">
                <h3 class="about__doctor-name">Haley Tate, DDS</h3>
                <h3 class="about__doctor-title">General Dentist</h3>
                <p class="about__copy">The minute you walk through the door, you will know you've come to the right place.
                    The office's relaxing environment and warm, inviting staff members will make you feel right at home, and
                    Dr. Tates's use of the latest advances in technology - including digital x-rays, CEREC one-visit
                    restorations, and in-office smile whitening - will help you and your family maintain beautiful smiles
                    for a lifetime. Best of all, Dr. Tate takes the time to get to know each and every patient one on one,
                    helping you make informed choices about your dental health.</p>
                <p class="about__copy">A Maryland native and a graduate of the University of Maryland School of Dentistry,
                    Dr. Tate is a former naval dental officer and is currently an active member of the Maryland Dental
                    Association, of which he was recently vice president. He and his wife, Carol, have two children.</p>
            </div>
        </div>
    </div>

    <div class="doctor-anderson__wrapper">
        <div class="container">
            <div class="about__content">
                <div class="about__copy-wrapper">
                    <h3 class="about__doctor-name">Michael Anderson, DDS</h3>
                    <h3 class="about__doctor-title">General Dentist</h3>
                    <p class="about__copy">Dr. Anderson grew up in Rockville, Maryland. Since his teenage years, Dr.
                        Anderson has had an interest in dentistry and oral health. After completing high school, he attended
                        the University of Maryland, College Park where he obtained a degree in General Biology, with Honors.
                        From there, Dr. Anderson pursued his interest in dentistry at the Baltimore College of Dental
                        Surgery, University of Maryland. Upon completing his dental degree, he moved to York, Pennsylvania
                        for a General Practice Residency at the York Hospital Dental Center. Here he received advanced
                        training in topics of general dentistry including oral surgery, pediatrics, management of dental
                        emergencies and dental implant placement.</p>
                    <p class="about__copy">One of the things Dr. Anderson enjoys most about dentistry is interacting with
                        his patients in a meaningful way as he helps them obtain a beautiful, healthy smile.</p>
                </div>
                <img src="assets/staff/dranderson.jpg" alt="Doctor Tate" class="about__image-wrapper">
            </div>
        </div>
    </div>

    <div class="about__team-carousel">
        {#{% include 'molecules/team__carousel.twig' %}#}
    </div>


    {%  include 'molecules/associations__carousel.twig' %}

    <div class="about__team-slab">
        <div class="container">
            <div class="team-card__wrapper">
                {% for person in team %}
                    <div class="team-card">
                        <a href="#" data-target="#team--{{ person.modalTarget }}" data-toggle="modal" class="team-card__image">
                            <img src="assets/team/{{ person.image }}" alt="{{ person.name }}">
                        </a>
                        <a href="#" data-target="#team--{{ person.modalTarget }}" data-toggle="modal" class="team-card__name">{{ person.name }}</a>
                        <a href="#" data-target="#team--{{ person.modalTarget }}" data-toggle="modal" class="team-card__byline">{{ person.title }}</a>
                        <a href="#" data-target="#team--{{ person.modalTarget }}" data-toggle="modal" class="team-card__read-more">Read More</a>
                    </div>
                {%  endfor %}
            </div>
        </div>
    </div>

    <div class="about__video-slab">
        <div class="container">
            <div class="video-slab__wrapper">
                <div class="video-slab__copy center">
                    <h2 class="video-slab__title">Caring Dentistry</h2>
                    <h3 class="video-slab__byline">FOR OUR COMMUNITY</h3>
                    <p class="video-slab__text">When News 12 was contacted by a woman who needed help dealing with dental
                        pain, Dr. Tom Piccolo responded and helped restore her smile. Hear Melody’s story.</p>
                </div>
                <div class="video-slab__iframe">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gl1E6QP7sgY" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    {% include 'molecules/team__modals.twig' %}
</section>

