<section id="section-about" class="clearfix about">

    <div class="about__doctor">
        <div class="heading center">
            <h2 class="heading__main">Meet the Team</h2>
        </div>
        <div class="container">
            <div class="doctor__wrapper">
                <div class="doctor__video">
                    <iframe src="https://player.vimeo.com/video/217569490" width="640" height="853" allowfullscreen></iframe>
                </div>
                <div class="doctor__text">
                    <h3 class="doctor__name">Thomas J. Piccolo, DDS, FAGD</h3>
                    <h5 class="doctor__byline">General & Cosmetic Dentist</h5>
                    <p class="doctor__copy">If you’re looking for a great place to smile, look no further than the
                        office of Dr. Thomas J. Piccolo. The office’s comforting atmosphere and warm, inviting team will
                        make you feel right at home. Our experience, technology, and expertise in cosmetic dentistry,
                        dental implants, and dentures ensures that every restoration is carefully crafted.</p>
                    <p class="doctor__copy">Dr. Piccolo attained his Doctorate of Dental Surgery from the Creighton
                        University School of Dentistry in Omaha and has been practicing dentistry in Scottsdale since
                        1985. Dr. Piccolo has attended the L.D. Pankey Institute, the Kois Center®, Frank Spear®
                        Education, and others for additional dental training, and stays up-to-date with the latest
                        dental technology and techniques to better serve his patients.</p>
                    {%  include 'molecules/associations__carousel.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="about__team-slab">
        <div class="container">
            <div class="team-card__wrapper">
                {% for person in team %}
                    <div class="team-card">
                        <a  href="#" data-target="#team--{{ person.modalTarget }}" data-toggle="modal" >
                        <div class="team-card__image">
                            <img src="assets/team/{{ person.image }}" alt="{{ person.name }}">
                        </div>
                        <p class="team-card__name">{{ person.name }}</p>
                        <p class="team-card__byline">{{ person.title }}</p>
                        <p class="team-card__read-more">Read More</p>
                        </a>
                    </div>
                {%  endfor %}
            </div>
        </div>
    </div>

    <div class="about__video-slab">
        <div class="container">
            <div class="video-slab__wrapper">
                <div class="video-slab__copy center">
                    <h2 class="video-slab__title">Caring Dentistry</h2>
                    <h3 class="video-slab__byline">FOR OUR COMMUNITY</h3>
                    <p class="video-slab__text">When News 12 was contacted by a woman who needed help dealing with dental
                        pain, Dr. Tom Piccolo responded and helped restore her smile. Hear Melody’s story.</p>
                </div>
                <div class="video-slab__iframe">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gl1E6QP7sgY" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    {% include 'molecules/team__modals.twig' %}
</section>

